/* Header */
#header-nav {
    background-color: darkgrey;
    border-radius: 0;
    border: 4;
    border-color: black;
    clear: left;            
}
#nav-list {
    margin-top: 0;
    margin-bottom: 0;
}

#nav-list a {
    background-color:aliceblue;
    text-align: center;
    font-size: 1.2em;
}
#nav-list hr{
    color: black;
    margin: 0;
    height: 1px;
}

.navbar-header h1 {
    margin-left: 20px;
}

#main-content h1{
    text-align: center;
    padding-bottom: 15px;
}

#main-content section div{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
}

#main-content section {
    background-color: darkgray;
    padding: 1.3em;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.1em;
    margin-bottom: 2%;
}   
 
/********** Large devices only **********/
/*@media (min-width: 1200px) {
    #main-content section {
        height: 1000px;
    }   
  }*/

 /********** Medium devices only **********/
/* @media (min-width: 992px) and (max-width: 1199px) {
   #main-content section {
       height: 1000px;
   }   
 }*/

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #main-content section {
        margin-left: 10%;
        margin-right: 10%;
    }   
}